<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MMP: The Massively Multiplayer Piano</title>
        <link rel="stylesheet" href="/static/css/reset.css" />
        <link rel="stylesheet" href="/static/css/styles.css" />
        <script src="/static/js/vendor/jquery-1.10.2.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery-touch-events/2.0.3/jquery.mobile-events.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <!-- midi.js package -->
        <script src="/static/js/vendor/MIDI/AudioDetect.js" type="text/javascript"></script>
        <script src="/static/js/vendor/MIDI/LoadPlugin.js" type="text/javascript"></script>
        <script src="/static/js/vendor/MIDI/Plugin.js" type="text/javascript"></script>
        <script src="/static/js/vendor/MIDI/Player.js" type="text/javascript"></script>
        <script src="/static/js/vendor/MIDIWindow/DOMLoader.XMLHttp.js" type="text/javascript"></script>
        <script src="/static/js/vendor/MIDIWindow/DOMLoader.script.js" type="text/javascript"></script>
        <script src="/static/js/vendor/MIDIinc/Base64.js" type="text/javascript"></script>
        <script src="/static/js/vendor/MIDIinc/base64binary.js" type="text/javascript"></script>

        <script src="/static/js/note-map.js"></script>
        <script src="/static/js/interface.js"></script>
    </head>
    <body>
        <!-- <header>
        <h1>The Massively Multiplayer Piano</h1>
        <p>A <a href="http://london.musichackday.org/2013">Music Hack Day: London 2013</a> hack by <a href="http://alexpounds.com/">Alex Pounds</a> (<a href="http://twitter.com/acreature">@acreature</a>).</p>
        </header> -->
        <div class="content">
            <!-- <ul>
                <li>Your TEAM has to play a CHORD.</li>
                <li>You can only play one NOTE at a TIME. <strong>Press and HOLD</strong>.</li>
                <li>Your notes will show up in <span class="myNote">YELLOW</span>. Your team-mates' presses will show up in <span class="theirNote">BLUE</span>.</li>
                <li>Easy levels have hints in <span class="hint">RED</span>.</li>
                <li>Your team must play the CHORD before the timer runs OUT.</li>
            </ul> -->
            <!-- <div class="timeleft"><span></span></div> -->
            <!-- <p class="gamestatus">Waiting for server response...</p> -->
            <!-- <p class="tweetthis" style="display: none;"><a href="http://twitter.com/share?url=http://multiplayerpiano.herokuapp.com/&text=Somehow I found the Tweet link before playing a game of multiplayer piano!&related=acreature" target="_blank">Tweet your score!</a></p> -->

            <div class="piano rotated">
                <!-- 为了上下平衡，故需要一个占位琴键 -->
                <div class="piano-key">
                    <div class="piano-key__white" data-note="B1"><span class="piano-note">B1</span></div>
                    <div class="piano-key__black" style="display: none;"><span class="piano-note"></span></div>
                </div>

                <div class="piano-key">
                    <div class="piano-key__white" data-note="C2"><span class="piano-note">C2</span></div>
                    <div class="piano-key__black" data-note="C#2" style="display: block;"><span class="piano-note">C#2</span></div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="D2"><span class="piano-note">D2</span></div>
                    <div class="piano-key__black" data-note="D#2" style="display: block;"><span class="piano-note">D#2</span></div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="E2"><span class="piano-note">E2</span></div>
                    <div class="piano-key__black" style="display: none;"><span class="piano-note"></span>
                    </div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="F2"><span class="piano-note">F2</span></div>
                    <div class="piano-key__black" data-note="F#2" style="display: block;"><span class="piano-note">F#2</span></div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="G2"><span class="piano-note">G2</span></div>
                    <div class="piano-key__black" data-note="G#2" style="display: block;"><span class="piano-note">G#2</span></div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="A2"><span class="piano-note">A2</span></div>
                    <div class="piano-key__black" data-note="A#2" style="display: block;"><span class="piano-note">A#2</span></div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="B2"><span class="piano-note">B2</span></div>
                    <div class="piano-key__black" style="display: none;"><span class="piano-note"></span>
                    </div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="C3"><span class="piano-note">C3</span></div>
                    <div class="piano-key__black" data-note="C#3" style="display: block;"><span class="piano-note">C#3</span></div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="D3"><span class="piano-note">D3</span></div>
                    <div class="piano-key__black" data-note="D#3" style="display: block;"><span class="piano-note">D#3</span></div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="E3"><span class="piano-note">E3</span></div>
                    <div class="piano-key__black" style="display: none;"><span class="piano-note"></span>
                    </div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="F3"><span class="piano-note">F3</span></div>
                    <div class="piano-key__black" data-note="F#3" style="display: block;"><span class="piano-note">F#3</span></div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="G3"><span class="piano-note">G3</span></div>
                    <div class="piano-key__black" data-note="G#3" style="display: block;"><span class="piano-note">G#3</span></div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="A3"><span class="piano-note">A3</span></div>
                    <div class="piano-key__black" data-note="A#3" style="display: block;"><span class="piano-note">A#3</span></div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="B3"><span class="piano-note">B3</span></div>
                    <div class="piano-key__black" style="display: none;"><span class="piano-note"></span>
                    </div>
                </div>
            </div>

            <div class="piano">
                <div class="piano-key">
                    <div class="piano-key__white" data-note="C4"><span class="piano-note">C4</span></div>
                    <div class="piano-key__black" data-note="C#4" style="display: block;"><span class="piano-note">C#4</span></div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="D4"><span class="piano-note">D4</span></div>
                    <div class="piano-key__black" data-note="D#4" style="display: block;"><span class="piano-note">D#4</span></div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="E4"><span class="piano-note">E4</span></div>
                    <div class="piano-key__black" style="display: none;"><span class="piano-note"></span>
                    </div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="F4"><span class="piano-note">F4</span></div>
                    <div class="piano-key__black" data-note="F#4" style="display: block;"><span class="piano-note">F#4</span></div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="G4"><span class="piano-note">G4</span></div>
                    <div class="piano-key__black" data-note="G#4" style="display: block;"><span class="piano-note">G#4</span></div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="A4"><span class="piano-note">A4</span></div>
                    <div class="piano-key__black" data-note="A#4" style="display: block;"><span class="piano-note">A#4</span></div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="B4"><span class="piano-note">B4</span></div>
                    <div class="piano-key__black" style="display: none;"><span class="piano-note"></span>
                    </div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="C5"><span class="piano-note">C5</span></div>
                    <div class="piano-key__black" data-note="C#5" style="display: block;"><span class="piano-note">C#5</span></div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="D5"><span class="piano-note">D5</span></div>
                    <div class="piano-key__black" data-note="D#5" style="display: block;"><span class="piano-note">D#5</span></div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="E5"><span class="piano-note">E5</span></div>
                    <div class="piano-key__black" style="display: none;"><span class="piano-note"></span>
                    </div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="F5"><span class="piano-note">F5</span></div>
                    <div class="piano-key__black" data-note="F#5" style="display: block;"><span class="piano-note">F#5</span></div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="G5"><span class="piano-note">G5</span></div>
                    <div class="piano-key__black" data-note="G#5" style="display: block;"><span class="piano-note">G#5</span></div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="A5"><span class="piano-note">A5</span></div>
                    <div class="piano-key__black" data-note="A#5" style="display: block;"><span class="piano-note">A#5</span></div>
                </div>
                <div class="piano-key">
                    <div class="piano-key__white" data-note="B5"><span class="piano-note">B5</span></div>
                    <div class="piano-key__black" style="display: none;"><span class="piano-note"></span>
                    </div>
                </div>
                <!-- 敢问路在何方必须要多一个音 -->
                <div class="piano-key">
                    <div class="piano-key__white" data-note="C6"><span class="piano-note">C6</span></div>
                    <div class="piano-key__black" data-note="C#6" style="display: block;"><span class="piano-note">C#6</span></div>
                </div>
            </div>

            <!-- <div class="notes">
                <section data-note-name="C" data-note="60" class="nonoffset">C</section>
                <section data-note-name="C#" data-note="61" class="sharps">C#</section>
                <section data-note-name="D" data-note="62">D</section>
                <section data-note-name="Eb" data-note="63" class="sharps">Eb</section>
                <section data-note-name="E" data-note="64">E</section>
                <section data-note-name="F" data-note="65" class="nonoffset">F</section>
                <section data-note-name="F#" data-note="66" class="sharps">F#</section>
                <section data-note-name="G" data-note="67">G</section>
                <section data-note-name="G#" data-note="68" class="sharps">G#</section>
                <section data-note-name="A" data-note="69">A</section>
                <section data-note-name="Bb" data-note="70" class="sharps">Bb</section>
                <section data-note-name="B" data-note="71">B</section>
                <section data-note="72" class="nonoffset">C</section>
                <section data-note="73" class="sharps">C#</section>
                <section data-note="74">D</section>
                <section data-note="75" class="sharps">Eb</section>
                <section data-note="76">E</section>
                <section data-note="77" class="nonoffset">F</section>
                <section data-note="78" class="sharps">F#</section>
                <section data-note="79">G</section>
                <section data-note="80" class="sharps">G#</section>
                <section data-note="81">A</section>
                <section data-note="82" class="sharps">Bb</section>
                <section data-note="83">B</section>
                <section data-note="84" class="nonoffset">C</section>
            </div> -->
            <!-- <p id="gotit" style="display: none">Got it!</p> -->
            <footer>
                <div class="username">你的大名：</div>
                <button class="start">Start!</button>
            </footer>
        </div>
    </body>
</html>